:root 
    --width: 1280px
    --Principal-coral: #ff5538
    --Principal-azul: #1c3e66
    --Principal-Gris: #999999
    --Secundario-Coral-Fondos: #fff5f3
    --Secundario-Gris-Claro: #f9f9fb
    --Secundario-Blanco: #fff

    --transitions: 0.15s linear


$desktop: 1220px
$landscape: 1024px
$portrait: 768px