.boton
    font-family: Montserrat
    border-radius: 6px
    font-size: 14px
    font-weight: 600

    &-primario
        width: 159px
        height: 39px
        color: var(--Principal-coral)
        border-color: var(--Principal-coral)

        &:hover
            color: #ffffff
            background-color: var(--Principal-coral)